<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>adicionar postagens</title>
</head>
<body>
    <h1>adicionar nova postagem</h1>
    <form action="/add" method="POST">
        <label for="categoria">Categoria:</label>
        <input type="text" name="categoria" id="categoria" required>

        <br>

        <button type="submit">adicionar</button>
    </form>

    <a href="/">Volta pra tela inicial</a>
</body>
</html>